/*** BANDEAU COLLECTION / NUMÉRO / DATE ***/

/* Bloc collection, numéro, date IRJ */
.container-collection-num-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white !important;
  border:1px solid #fff; /* Epaisseur et la couleur de la bordure */
  border-radius:2mm; /* Rayon */
  padding-top:2px;
  padding-bottom: 2px;
  background-color: var(--color-primary) !important;
  height: 11mm;
  margin-top:5em;
}

.container-collection-num-date p{
  font-family: Marianne-Regular;
  font-size: 16pt;
  margin-top: 0.2em!important; /* réduction espace au dessus paragraphe dans l'encadré */
  margin-bottom: 0.3em!important; /* réduction espace en dessous paragraphe dans l'encadré */
}



.collection{
  text-align: left;
  display:inline-block;
  margin-left: 15px;
}

.numero-date {
  text-align: right;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
