/*** LOGOS - VERSION PDF (RUNNING ELEMENTS) ***/

/* logo république française */

.entete-logofr {
  position: running(logofr);
}
.entete-logofr img {
  height: auto;
  margin-top: 20mm;
  margin-left: -4mm;
  width: 35mm;
}


/* logo SSER */
.entete-logoSSER {
  position: running(logoSSER);
  text-align: center;
  margin-top: 15mm;
}
.entete-logoSSER p {
  margin-bottom: 0.2em;
  line-height: 1;
  font-size: 6pt;
}
.entete-logoSSER img {
  width: 30mm;
}


