/*** PIED DE PAGE ÉDITORIAL ***/

.pied-de-page-editorial{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.pied-de-page-editorial p{
  margin: 0;
  font-size: 6.5pt;
  font-family: Marianne-Regular;
}

.pied-de-page-editorial .regular,
.pied-de-page-editorial .medium{
  display: inline;
}

.footer-logo-text{
  display: flex;
  flex-direction:row;
  align-items: end;
  font-family: 'Marianne-Regular';
  font-weight: bold;
}

.footer-logo-text p{
  line-height: 2;
}

.footer-logo {
  width: 100px;
  vertical-align: bottom;
}

.footer{
  beak-before: auto;
}
