/*** RESSOURCES ADDITIONNELLES ***/

.ressources-additionnelles-donnees{
  color: white !important;
  text-align: left;
  padding-top: 6px; /* Ajouter un peu d'espace entre le texte et la bordure */
  padding-bottom: 6px; /* Ajouter un peu d'espace entre le texte et la bordure */
  padding-left: 20px; /* Ajouter un peu d'espace entre le texte et la bordure */
  padding-right: 20px; /* Ajouter un peu d'espace entre le texte et la bordure */
  border-radius:10px; /* Définir le rayon */
  background-color: var(--color-primary) !important;
  display: flex;
  align-items: center;
  margin-top: 20px !important;
  break-inside: avoid;
}

/* taille et position du logo de téléchargement */
.ressources-additionnelles-donnees img{
  width: 15mm;
  max-width: none;
  padding-right: 5mm;
}

.ressources-additionnelles-donnees a{
  font-family: Marianne-Bold;
  text-decoration: none;
  color: white;
}

.ressources-additionnelles-donnees i{
  font-size: 2.5em;
  margin-right: 10px;
}

.ressources-additionnelles-donnees p{
  margin-bottom: 0;
}

.ressources-additionnelles-bloc1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px !important; 
  padding-bottom: 20px;
  break-inside: avoid; 
}

.pour-en-savoir-plus, .decouvrez-collections {
  flex: 1; /* Prend tout l'espace disponible */
  color: black;
  text-align: left;
  padding: 6px 20px;
  border-radius: 10px;
  background-color: #ececec !important;
}

.pour-en-savoir-plus{
  line-height: 1.3;
}

.decouvrez-collections {
  background-color: var(--color-secondary) !important;
}

.decouvrez-collections a {
  color: black;
  text-decoration: underline;
}

/* style des puces pour la dernière page */
.ressources-additionnelles-bloc1 ul {
  list-style-type: disc; /* Type de puce */
  padding-left: 0;  /* Supprimer le décalage à gauche */
  margin-left: 14px; /* Supprimer la marge à gauche */
}

.decouvrez-collections li {
  margin-bottom: 3px; /* Espace entre les éléments de la liste */
}

.pour-en-savoir-plus li {
  margin-bottom: 5.5px; /* Espace entre les éléments de la liste */
}

.ressources-additionnelles-bloc1 li::marker {
  font-size: 0.6em; /* Taille des puces */
}
