.footnote {
  float: footnote;
  font-size: 6pt!important;
}

hr.footnote-break {
  border: none;
  border-top: 1px solid #484D7A;
  margin-bottom: 0.5em!important;
  width: 35pt;
  height: 0;
  box-sizing: border-box;
}

.footnote sup:first-of-type {
  vertical-align: baseline !important;
  margin-right: 5pt !important;
  color: #484D7A!important
}

a.footnote-ref{
 text-decoration: none!important;
}
