/*** ENCADRÉ SOURCE ET DÉFINITIONS ***/

.source-et-definitions{
  border:1pt solid var(--color-primary);
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  padding-right: 15px;
  padding-left: 15px;
  border-radius:10px;
  margin-top: 40px;
  column-span: all;
  column-count: 2;
  column-gap: 20px;
}

.source-et-definitions:first-child {
    margin-top: 0;
}

.source-et-definitions ul{
  padding-left:20px;
}

.source-et-definitions h1{
  column-span: all;
}

.source-et-definitions p {
  margin-bottom: 0.5em;
  break-inside: avoid;
}

.source-et-definitions .section.level2 {
  break-inside: auto;
}
