/*** TABLEAUX PDF ***/

/* Styles de base */
table {
  font-family: 'Marianne-Regular'!important;
}

.table, .gt-table {
  max-width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #CCC;
}

.table tfoot{
  padding-top: 20px !important;
  margin-top: 20px !important;
}

.table thead>tr {
  background: #FFFFFF;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  height: 56px;
}

.table thead>tr>th {
  padding: 3px 15px ;
  height: 56px;
}

.table tbody>tr>td {
  padding: 3px 15px ;
  height: 15pt;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

.table tbody tr.even {
  background: #FFFFFF;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.table tr.odd {
  background: #FFF;
}

.tab-content .table {
  margin-top: 0px;
}

/* Styles spécifiques PDF */
.tableau-container > :not(h2) {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 10px -10px;
}

div:has(> .gt_table) {
    background-color: #f5f5f5 !important;
    border-radius: 12px !important;
    margin: 10px -10px !important;
}

table:not(.gt_table) {
    padding: 10px;
    border-radius: 12px;
    max-width: 100% !important;
}

table{
    font-size: 6pt!important;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5px;
    background-color: #f5f5f5 !important;
    font-family: 'Marianne-Regular', sans-serif;
    border-color: #f5f5f5!important;
    border-bottom: none!important;
    border-width: 0.35pt!important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

.table td, .table th {
    border: 0.35pt solid #ddd !important;
    padding: 1px !important;
}

.table thead>tr>th {
    height: 30px;
}

.table thead>tr {
   height: 30px;
}

.table > tfoot > tr > td {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

/* Styles GT tables */
.row_group_header{
  background-color: #ABB7DE;
}

.gt_col_headings{
  border-width: 0.35pt!important;
  border-color: #ddd!important;
}

.gt_column_spanner{
  border-bottom-width: 0.35pt!important;
  border-bottom-color: white!important;
}

.gt_empty_group_heading {
  border: none !important;
  background: transparent !important;
  height: 0px !important;
  padding: 0px !important;
}

.gt_table_body{
  border-top: none!important;
}

.gt_row, .gt_group_heading{
  padding-top: 1px!important;
  padding-bottom: 1px!important;
  border-top: 0.35pt solid #ddd!important;
  border-bottom: 0.35pt solid #ddd!important;
  border-left: 0.35pt solid #ddd!important;
  border-right: 0.35pt solid #ddd!important;
}

.gt_group_heading{
  padding-top: 2px!important;
  padding-bottom: 2px!important;
}

.gt_footnote{
  background-color: #f5f5f5!important;
  font-size: 7.5px;
}
