/*** ESPACEMENTS ET MARGES PDF ***/


h1,h2,h3{
  break-inside: avoid;
  break-after: avoid !important;
  page-break-after: avoid; /* Fallback pour anciens navigateurs */
}

caption {
  break-inside: avoid;
  break-after: avoid;
}

img, svg, figure {
  page-break-inside: avoid;
}

.table {
  break-inside: avoid;
}

.section.level2 {
  break-inside: auto;
}

.figure {
  break-inside: avoid;
}


.page-break {
  display: block;
  break-before: page !important; /* On force le saut AVANT cet élément */
  clear: both;
}



