/*** POLICE ***/

@font-face {
    font-family: 'Marianne-Light';
    font-weight: 300;
    font-display: swap;
    src: url('../../../polices/Marianne/fontes desktop/Marianne-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Marianne-Regular';
    font-weight: 400;
    font-display: swap;
    src: url('../../../polices/Marianne/fontes desktop/Marianne-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Marianne-Medium';
    font-weight: 500;
    font-display: swap;
    src: url('../../../polices/Marianne/fontes desktop/Marianne-Medium.otf') format('opentype');
}


@font-face {
    font-family: 'Marianne-Bold';
    font-weight: 700;
    font-display: swap;
    src: url('../../../polices/Marianne/fontes desktop/Marianne-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Marianne-ExtraBold';
    font-weight: 800;
    font-display: swap;
    src: url('../../../polices/Marianne/fontes desktop/Marianne-ExtraBold.otf') format('opentype');
}
